<%- include("_header") -%>

<h1>Data of Books Present</h1>

<ul>

<li>Number Of Books = 3</li>
<li>Years : 1997 , 2001 , 2005</li>
<li>All Copyrights Protected</li>


</ul>

<%- include("_footer") -%>