
<body>
<%- include("_header") -%>

<h1>Welcome To BOOK STORE..</h1>
<h4>One Stop Solution to buy books</h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRkk5D2LOLVajppGj-EV2NjOXjHG7IoRUVUBJYPK1p69PImlpi4tKDX4erlyikqrkxJYk&usqp=CAU" width="1100" height="450">

</body>
<style>
body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
</style>






<%- include("_footer") -%>