<%- include("_header") -%>

<h1>Pay</h1>
<form action="/pay/2" id="frm" onsubmit="myFunction()">
<!-- <form action="/pay/<%= model.Book_ID %>" method="post"> -->
  <div class="form-horizontal">

    <%- include("_payment") -%>


    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <br>
        <input type="submit" value="Pay" class="btn btn-default btn-info" />
        <a class="btn btn-outline-dark cancel" href="/books">Cancel</a>
      </div>
    </div>
  </div>
</form><br><br><br>
<p id="demo"></p>
<%- include("_footer") -%>

<script>
function myFunction() {
  var x=document.getElementById("frm");
  var name = x.elements[0].value;
  var id=x.elements[1].value;
  var result           = '';
  var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  var charactersLength = characters.length;
  for ( var i = 0; i < 42; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
  }
 // document.getElementById("demo").innerHTML = result;
  alert(name+" resolves to "+result);
  // alert(a);
  // alert(b);
  // console.log(a);
}
</script>

